@import "Ginkgo";
@import "bootstrap/bootstrap";

$maincolor: #252A52;
$seccolor: #afabd5;
$pinkcolor: #c50080;
$tarocolor:#505474; // 芋頭色
$greencolor:#5cb431;
$orangecolor:#f29700;
$bluecolor:#00a0e8;

* {
  &, &:after, &:before {
    vertical-align: middle;
    @include box-sizing(border-box);
    @include font-smoothing(subpixel-antialiased);
  }
}

html {
  font-size: 13px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: black;
  
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  text-size-adjust: none;
  -webkit-text-size-adjust:none;

  background-image: url(../images/big-bg.png);
  background-color: $maincolor;
  background-size: contain;
  background-repeat: repeat;
  background-position: top;
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: underline;
  }
}

button {
  outline: 0;
  border-width: 0;
}

.header-link {
  display: inline-block;
  color: white;

  img {
    color: white;

    &:hover {
      color: $pinkcolor;
    }
  }

  &:hover {
    color: $pinkcolor;
  }
}

.bg-sec {
  background-color: $seccolor;
}

.bg-taro {
  background-color: $tarocolor;
}

.bg-main {
  background-color: $maincolor;
}

.text-main {color: $maincolor;}
.text-green {color: $greencolor;}
.text-pink {color: $pinkcolor;}
.text-yellow {color: #ffff04;}
.text-Dorange {color: $orangecolor;}
.text-orange {color: #f6c142;}
.text-red {color: #b02318;}
.text-Lblue {color: #608ecf;}
.text-Pred {color: #ef807d;}
.text-Redpink {color: #eb84b4;}
.text-brown {color: #5c2925;}
.text-Lpink {color: #f2a7c5;}

.bg-pink {background-color: $pinkcolor;}
.bg-grey {background-color: rgba(208, 208, 208, .3);}
.bg-yellow {background-color: #ffff04;}
.bg-Dorange {background-color: $orangecolor;}
.bg-orange {background-color: #f6c142;}
.bg-red {background-color: #b02318;}
.bg-Lblue {background-color: #608ecf;}
.bg-Pred {background-color: #ef807d;}
.bg-Redpink {background-color: #eb84b4;}
.bg-brown {background-color: #5c2925;}
.bg-Lpink {background-color: #f2a7c5;}

.mob-close {
  @include range-width(0, 450px) {
    display: none;
  }
}

.mob-open {
  display: none;
  @include range-width(0, 450px) {
    display: inline-block;
  }
}

.w10 {
  width: 100%;
  // height: 10px;
}



// boost
.nav {
  height: 60px;
  background-color: $tarocolor;
  @include border-radius(30px);
}

.nav-link {
  line-height: 48px; // 需要再調整
  height: 60px;
  @include border-radius(30px);
  color: white !important;
  font-size: 1.2rem !important;

  &:hover {
    @include border-radius(30px);
    background-color: $pinkcolor !important;
  }

  &.active {
    @include border-radius(30px);
    background-color: $pinkcolor !important;
  }
}

.offcanvas {
  background-color: $seccolor !important;
}

.offcanvas-end {
  width: 300px !important;
}

.card {
  border: 0 !important;
  @include border-radius(10px !important);
}

.card-body {
  &.forTable {
    padding: 1rem 0 !important;
  }
}

.card-header:first-child {
  border: 0 !important;
  -webkit-border-top-left-radius: 10px !important;
  -webkit-border-top-right-radius: 10px !important;
  -moz-border-radius-topleft: 10px !important;
  -moz-border-radius-topright: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.accordion-item {
  background-color: transparent !important;
  border: 0 !important;
  margin-bottom: 20px;
}

.accordion-button {
  @include border-radius(20px !important);
  font-size: 1.3rem !important;
  background-color: #afabd5 !important;
}

.accordion-button:not(.collapsed) {
  background-color: $greencolor !important;
  color: white !important;
}

$grid-gutter-width: 30px;

.custom-table-width {
  overflow-x: auto;
  margin-right: $grid-gutter-width / 2; // 利用 margin 推回去原本 padding 的空間
  margin-left: $grid-gutter-width / 2;
  padding-right: 0;
  padding-left: 0;

  .table {
    table-layout: fixed; // 表格和欄寬將根據所給定的寬度來顯示（預設等寬）
    min-width: 850px;   // 避免因寬度不足而字疊在一起
  }

  // 流水號 #
  thead th:first-child,
  tbody td:first-child {
    width: 8em;
  }

  // Time
  thead th:nth-child(10),
  tbody td:nth-child(10) {
    width: 5em;
  }

  // Remark
  thead th:last-child,
  tbody td:last-child {
    width: 60%;
  }
}

.custom-table-width2 {
  overflow-x: auto;
  margin-right: $grid-gutter-width / 2; // 利用 margin 推回去原本 padding 的空間
  margin-left: $grid-gutter-width / 2;
  padding-right: 0;
  padding-left: 0;

  .table {
    table-layout: fixed; // 表格和欄寬將根據所給定的寬度來顯示（預設等寬）
    min-width: ˙850px;   // 避免因寬度不足而字疊在一起
  }

  // 流水號 #
  thead th:first-child,
  tbody td:first-child {
    width: 5em;
  }

  // Time
  thead th:nth-child(10),
  tbody td:nth-child(10) {
    width: 25em;
  }

  // Remark
  thead th:last-child,
  tbody td:last-child {
    width: 30%;
  }
}

.custom-table-width3 {
  overflow-x: auto;
  margin-right: $grid-gutter-width / 2; // 利用 margin 推回去原本 padding 的空間
  margin-left: $grid-gutter-width / 2;
  padding-right: 0;
  padding-left: 0;

  .table {
    table-layout: fixed; // 表格和欄寬將根據所給定的寬度來顯示（預設等寬）
    min-width: ˙750px;   // 避免因寬度不足而字疊在一起
  }

  // 流水號 #
  thead th:first-child,
  tbody td:first-child {
    width: 10em;
  }

  // Time
  thead th:nth-child(10),
  tbody td:nth-child(10) {
    width: 25em;
  }

  // Remark
  thead th:last-child,
  tbody td:last-child {
    width: 60%;
  }
}


// 內容
header {
  display: inline-block;
  width: 100%;

  &.page-header {
    height: 120px;

    @include range-width(0, 450px) {
      height: 70px;
    }
  }

  .container{
    .row {
      height: 100px;

      @include range-width(0, 450px) {
        height: 70px;
      }
    }
  }
}

footer {
  display: inline-block;
  width: 100%;
  background-color: $seccolor
}

picture {
  display: inline-block;
  width: 100%;

  @include range-width(0, 451px) {
    width: 100%;
  }

  > img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

nav {
  display: inline-block;
  width: 100%;
}

.dotted-bg {
  display: inline-block;
  height: 2px;
  background-image: url(../images/w-border.svg);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
}

.centbox {
  display: inline-block;
  width: 100%;
  @include border-radius(30px);
  background-color: $tarocolor;
  padding: 35px 20px;

  &.artbox {
    padding: 35px;

    @include range-width(0, 450px) {
      padding: 20px 15px;
      @include border-radius(15px);
    }
  }

  @include range-width(0, 450px) {
    padding: 20px 10px;
    @include border-radius(15px);
  }
}

.pagecent {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.menu-mobile {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  color: $maincolor;
  padding: 10px 0;
  border-bottom: 1px solid  #3f3f3f;

  &:hover, &:active {
    color: $pinkcolor;
  }
}

.moon {
  background-image: url(../images/moon.png);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: top 72px left;
  padding: 0 !important;

  @include range-width(0, 450px) {
    background-size: 55%;
    background-position: top 34px left -25%;
  }
}

.singleFlowerBoxs {
  display: inline-block;
  width: 100%;
  @include border-radius(10px);
  overflow: hidden;
}

.FlowerTypeBox {
  height: 300px;
}



// 標題＋文字
.fs5-mobile {
  @include range-width(0, 450px) {
    font-size: 1rem !important;
  }
}

.flower-name {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  color: white;

  &.before-pink {
    &:before {background-color: $pinkcolor;}
  }

  &.before-yellow {
    &:before {background-color: #fefe02;}
  }

  &:before {
    display: inline-block;
    vertical-align: top !important;
    content: '';
    width: 5px;
    height: 35px;
    margin-right: 10px;
  }
}

.link-traffic { 
  padding: 5px 10px;
  color: #fff;
  text-align: center;

  @include range-width(0, 450px) {
    display: inline-block;
    width: 100%;
  }

  &:hover, &:active {
    color: $bluecolor;
  }

  &.traffic-ac {
    color: #fff;
    @include border-radius(20px);
    background-color: $bluecolor;
  }
}

.link-farm { 
  padding: 5px 10px;
  color: #fff;
  text-align: center;

  @include range-width(0, 450px) {
    display: inline-block;
    width: 100%;
  }

  &:hover, &:active {
    color: $greencolor;
  }

  &.farm-ac {
    color: #fff;
    @include border-radius(20px);
    background-color: $greencolor;
  }
}



// space
.pt-15 {
  padding-top: 15%;

  @include range-width(0, 450px) {
    padding-top: 0;
  }
}









